<h1>Chat#index</h1>
<p>Find me in app/views/chat/index.html.erb</p>
<div class="" ng-app="chatApp">
  <div class="messages" ng-controller="chatCtrl as vm">
    <div class="row" style="background-color:#3F51B5; padding:25px; width:100%; min-width:100%;">
      <div class="container">
        <div class="col s4">
          <input type="text" ng-model="vm.name" class="form-control" placeholder="Name">
        </div>
        <div class="col s4">
          <input type="text" ng-model="vm.message" class="form-control" placeholder="Message">
        </div>
        <div class="col s4" style="margin-top:10px;">
          <button class="btn btn-info" ng-disabled="!vm.message || !vm.name" ng-click="vm.saveMessage()">Send Message</button>
        </div>
      </div>
    </div>

    <div class="row form-group container box-chat" ng-repeat="row in vm.chatMessages">
      <div class="box-chat-inner">
        <p class="message">{{row.message}}</p>
        <p class="name">{{row.name}}</p>
        <p class="time">{{row.dateTime}}</p>
      </div>
    </div>

  </div>
</div>
